body{
  background-color:#1C0702;
  text-align:center;

}

td{
  height:15px;
  width:100px;
}

table{
  border-color:blue;
  margin-top:10px;
  margin-bottom:50px;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:1em;
  padding:10px;
}

input#input{

}

.buttons{
  width:50vh;
  margin:3vh;
  background-color:gray;
  border-radius:1em;
}

.buttons:hover{
  background-color:orange;
  color:white;

}
td#td1{
  border-bottom-left-radius:2em;
  border-bottom-right-radius:1em;
}

div#cup{
  border-style:black,1px;
  height:120px;
  width:130px;
  display:block;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:2em;
  border-top-left-radius:2em;
  margin-left:43%;
  margin-right:50%;
  margin-top:10vh;
}

div#coffee{
  margin-top:px;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  position: relative;
}

td{
  background-color:black;

}

div#leftytophandle{
  height:10px;
  width:40px;
  border-top-left-radius:2em;
  position:absolute;
  right: 130px;
  top: 25%;
}

div#leftybothandle{
  height:10px;
  width:40px;
  border-bottom-left-radius:2em;
  position:absolute;
  right: 130px;
  top:57%;
}

div#leftymidhandle{
  height:56px;
  width:10px;
  border-bottom-left-radius:2em;
  border-top-left-radius:2em;
  position:absolute;
  right: 160px;
  top:25%;
}

div#rightytophandle{
  height:10px;
  width:40px;
  border-top-right-radius:2em;
  position:absolute;
  right: -40px;
  top: 25%;
}

div#rightybothandle{
  height:10px;
  width:40px;
  border-bottom-right-radius:2em;
  position:absolute;
  right: -40px;
  top:57%;
}

div#rightymidhandle{
  height:56px;
  width:10px;
  border-bottom-right-radius:2em;
  border-top-right-radius:2em;
  position:absolute;
  right: -40px;
  top:25%;
}
.cupoutside{
  background-color:white;
}

.tabledatas{
  background-color:gray;
}

div#colors{
  margin-top:50px;
  margin-right:40px;
}

div#cupNumber{
  display:inline;
  color:white;
  padding-top:20px;
}

div#price{
  display:inline;
  color:white;
}

div#clock{
  height:50px;
  width:100px;
  background-color:white;
  position:absolute;
  top:0px;
  left:-350px;
}

div#timer{
  height:50px;
  width:100px;
  background-color:white;
  position:absolute;
  top:0px;
  left:350px;
}

label{
  color:white;
}

label#labeloutsidecolor{
  margin-left:10vh;
  margin-bottom:10vh;
}

select{
  margin-bottom:10vh;
}

h2{
  color:white;
  margin-bottom:0px;
}
