body{
  background-color:#4B3E3E;
}

td{
  height:50px;
  width:200px;
}

table{
  border-color:blue;
  margin-top:10px;
  margin-bottom:50px;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:1em;
  padding:10px;
}

input#input{

}

.buttons{

}
td#td1{
  border-bottom-left-radius:2em;
  border-bottom-right-radius:1em;
}

td#td5{

}

div#cup{
  border-style:black,1px;
  height:305px;
  width:230px;
  display:block;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:2em;
  margin-left:40%;
  margin-right:50%;
  margin-top:30vh;
}

div#coffee{
  margin-top:px;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  position: relative;
}

td{
  background-color:black;

}

div#tophandle{
  height:20px;
  width:74px;
  border-top-right-radius:2em;
  position:absolute;
  right: -74px;
  top: 25%;
}

div#bothandle{
  height:20px;
  width:70px;
  border-bottom-right-radius:2em;
  position:absolute;
  right: -70px;
  top:55%;
}

div#midhandle{
  height:105px;
  width:20px;
  border-bottom-right-radius:2em;
  border-top-right-radius:2em;
  position:absolute;
  right: -74px;
  top:25%;
}
.cupoutside{
  background-color:white;
}

.tabledatas{
  background-color:black;
}
