body{
  background-color:#4B3E3E;
  text-align:center;
}

td{
  height:15px;
  width:100px;
}

table{
  border-color:blue;
  margin-top:10px;
  margin-bottom:50px;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:1em;
  padding:10px;
}

input#input{

}

.buttons{
  width:75vh;
  margin:3vh;
}
td#td1{
  border-bottom-left-radius:2em;
  border-bottom-right-radius:1em;
}

div#cup{
  border-style:black,1px;
  height:120px;
  width:130px;
  display:block;
  border-bottom-left-radius:2em;
  border-bottom-right-radius:2em;
  border-top-left-radius:2em;
  margin-left:43%;
  margin-right:50%;
  margin-top:15vh;
}

div#coffee{
  margin-top:px;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  position: relative;
}

td{
  background-color:black;

}

div#tophandle{
  height:10px;
  width:40px;
  border-top-right-radius:2em;
  position:absolute;
  right: -40px;
  top: 25%;
}

div#bothandle{
  height:10px;
  width:40px;
  border-bottom-right-radius:2em;
  position:absolute;
  right: -40px;
  top:57%;
}

div#midhandle{
  height:56px;
  width:10px;
  border-bottom-right-radius:2em;
  border-top-right-radius:2em;
  position:absolute;
  right: -40px;
  top:25%;
}
.cupoutside{
  background-color:white;
}

.tabledatas{
  background-color:gray;
}

div#colors{
  margin-top:50px;
  margin-right:40px;
}

label#labeloutsidecolor{
  margin-left:10vh;
}
